* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Rubik;
}

img {
    max-width: 100%;
}

.wrap {
    padding-inline: 50px;
    max-width: 1920px;
    min-width: 200px;
    margin: 0 auto;
}

::-webkit-scrollbar {
    display: none;
}

button {
    cursor: pointer;
    border: 0;
}

input {
    border: 0;
}

.header {
    box-shadow: 0 0 5px black;
    max-width: 1920px;
    min-width: 200px;
    margin: 0 auto;
    padding: 10px 50px;

    .down, .up {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .up {
        margin-inline: 15px;

        .messangers {
            display: flex;
            align-items: start;
            flex-direction: column;
            font-size: 16px;
            font-weight: 400;
            line-height: 22.4px;

            .flex {
                display: flex;
                align-items: center;
                gap: 15px;
            }

            .email {
                display: flex;
                align-items: center;
                gap: 5px;
            }
        }

        .money {
            display: flex;
            align-items: center;
            flex-direction: column;

            .one, .two {
                display: flex;
                gap: 10px;

                h4 {
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 19.2px;
                }

                p {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 22.4px;
                }
            }
        }

        .apliences {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 15px;

            .place_order {
                padding: 14px 24px;
                border-radius: 8px;
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;
                color: rgba(255, 255, 255, 1);
                background: rgba(234, 12, 12, 1);
            }

            .sign {
                background-color: white;
                padding: 14px 24px;
                border-radius: 8px;
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;
            }

            .country {
                display: flex;
                align-items: center;
                gap: 5px;

                img {
                    mix-blend-mode: multiply;
                    max-width: 50px;
                    border-radius: 50%;
                }
            }
        }
    }

    .down {
        margin-top: 15px;

        a {
            color: black;
            font-size: 14px;
            font-weight: 700;
            line-height: 20px;
            text-decoration: none;
        }

        .help_with_searching {
            max-width: 240px;
            max-height: 32px;
            padding: 8px;
            border-radius: 6px;
            background: rgba(0, 186, 136, 1);
            color: white;
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }

    .round {
        position: relative;
        display: none;
        width: 50px;
        height: 50px;
        background: rgba(155, 81, 224, 1);
        border-radius: 50%;
        border: 5px solid #FD6E6A;

        .green {
            position: absolute;
            right: -5px;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background: rgba(0, 186, 136, 1);
            border: 3px solid white;
        }

        p {
            font-size: 19px;
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            font-weight: 500;
            line-height: 14px;
            text-align: center;
            color: white;
        }
    }
}

.sign_in, .sign_up {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    max-width: 575px;
    max-height: 700px;
    border: 0;
    width: 100%;
    border-radius: 16px;
    background: rgba(255, 255, 255, 1);
    padding: 55px;

    .head {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-size: 40px;
            font-weight: 800;
            line-height: 48px;
        }

        .x {
            cursor: pointer;
            padding: 10px;
            background-color: grey;
            border-radius: 50%;
        }
    }

    .question {
        margin-block: 20px;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 22.4px;
        color: rgba(45, 45, 45, 0.9);

        .offer {
            cursor: pointer;
            margin-left: 25px;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            color: rgba(157, 123, 109, 1);
            text-decoration: underline;
        }
    }

    .btns_of_apps {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .btn {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 7px;
            width: 223.5px;
            color: white;
            height: 52px;
            padding: 14px 24px;
            border-radius: 8px;
        }

        #two {
            background: rgba(47, 128, 237, 1);
        }

        #one {
            background: rgba(234, 12, 12, 1);
        }
    }
    .signin, .signup {
        margin-top: 15px;

        .checking_account, .registing_account {
            margin-top: 8px;
            width: 100%;
            padding: 14px 24px;
            border-radius: 10px;
            background: rgba(242, 242, 242, 1);
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
        }

        #check, #check2 {
            width: 18px;
            height: 18px;
            accent-color: rgba(234, 12, 12, 1);
        }

        .flex {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .equality {
                display: flex;
                align-items: center;
                gap: 5px;
                text-align: center;
            }

            .forgot_password {
                cursor: pointer;
                text-decoration: underline;
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
                color: rgba(157, 123, 109, 1);
            }
        }
        
        .enter, .regist {
            margin-top: 20px;
            height: 52px;
            width: 100%;
            border-radius: 8px;
            background: rgba(234, 12, 12, 1);
            color: white;
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
        }
    }
}
