@use "/modules_scss/header.scss";
@use '/modules_scss/footer.scss';
@use "/modules_scss/dialog_of_order.scss";

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article {
    display: flex;
    align-items: center;
    gap: 20px;
    h2 {
        font-size: 40px;
        font-weight: 800;
        line-height: 48px;
    }
    .red {
        width: 8px;
        height: 48px;
        background: rgba(234, 12, 12, 1);
    }
}
.one {
    .first_side {
        h1 {
            font-size: 40px;
            font-weight: 800;
            line-height: 48px;
        }
        .assesment {
            margin-top: 25px;
            font-size: 24px;
            font-weight: 400;
            line-height: 33.6px;
        }
        .goods_link {
            margin-left: -30px;
            display: flex;
            gap: 15px;
            margin-top: 150px;
            padding: 10px;
            border-radius: 30px;
            border: 8px solid rgba(251, 206, 206, 1);
            input {
                width: 370px;
                height: 48px;
                padding: 12px 24px;
                gap: 10px;
                border-radius: 10px;
                background: rgba(242, 242, 242, 1);
            }
            #order {
                padding: 14px 24px;
                gap: 10px;
                border-radius: 8px;
                background: rgba(234, 12, 12, 1);
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;
                color: white;
            }
        }
    }
    .second_side {
        margin-right: -50px;
    }

}

#two {
    max-width: 1920px;
    margin: -5px auto;
    padding-block: 30px;
    background-color: rgb(242, 242, 242);
    .grap {
        margin-block: 50px;
        display: grid;
        grid-template-columns: repeat(6, 220px);
        gap: 5px;
        .block {
            position: relative;
            z-index: 0;
            box-shadow: 0 3px 5px black;
            width: 212.17px;
            height: 290px;
            padding: 24px 16px;
            border-radius: 8px;
            background-color: white;
            img {
                position: absolute;
                z-index: -1;
                left: 50%;
                translate: -70% -100%;
            }
            h3 {
                width: 152.17px;
                height: 38px;
                font-size: 16px;
                font-weight: 700;
                line-height: 19.2px;
                margin-bottom: 10px;
            }
            p {
                width: 180.17px;
                height: 154px;
                font-size: 16px;
                font-weight: 400;
                line-height: 22.4px;
            }
        }
    }
    .order_button {
        margin-left: 44%;
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        color: white;
        padding: 24px 32px;
        border-radius: 10px;
        background: rgba(234, 12, 12, 1);
    }
}

.three {
    max-width: 1920px;
    margin: 0 auto;
    background-color: rgb(242, 242, 242);
    .red {
        width: 8px;
        height: 80px;
    }
    .column {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
    .text {
        text-align: center;
        margin: 30px auto;
        font-size: 20px;
        font-weight: 200;
        line-height: 33.6px;
    }
    .detailed {
        margin-inline: 45%;
        width: 128px;
        height: 48px;
        padding: 14px 24px;
        border-radius: 8px;
        border: 2px solid rgba(149, 164, 170, 1);
    }
}

#four {
    max-width: 1920px;
    margin: 0 auto;
    padding-block: 50px;
    background-color: rgb(242, 242, 242);
    .red_body_calculation {
        position: relative;
        width: 1,322px;
        height: 554px;
        padding: 30px 20px 30px 100px;
        border-radius: 16px;
        background: rgba(234, 12, 12, 1);

        #calculator {
            max-width: 150px;
            position: absolute;
            left: -50px;
            bottom: 0;
        }
        .one_side_of_block {
            h2 {
                width: 520px;
                font-size: 40px;
                font-weight: 800;
                line-height: 48px;
                color: white;
            }
            ul {
                margin-top: 40px;
                width: 504px;
                color: white;
                font-size: 16px;
                font-weight: 400;
                line-height: 22.4px;
                li {
                    margin-block: 20px;
                }
            }
        }
        .the_other_side_of_block {
            form {
                display: grid;
                grid-template-columns: repeat(1, 532px);
                gap: 30px;

                input {
                    height: 72px;
                    padding: 14px 24px;
                    border-radius: 10px;
                }
                #deem {
                    background: rgba(63, 49, 44, 1);
                    width: 189px;
                    height: 72px;
                    padding: 24px 32px;
                    border-radius: 10px;
                    color: white;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 24px;
                    text-align: center;
                }
            }
            .line {
                margin-block: 5%;
                width: 532px;
                height: 1px;
                background: rgb(168, 167, 167);
            }
            .grid {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                color: white;
                gap: 10px;
                .one {
                    font-size: 25px;
                    font-weight: 700;
                    line-height: 38.4px;
                    text-align: left;
                }
                .flex_2 {
                    display: flex;
                    align-items: start;
                    input {
                        width: 20px;
                        height: 20px;
                        accent-color: azure;
                    }
                }
            }
        }
    }
}
.five {
    position: relative;
    max-width: 1920px;
    height: 1090px;
    margin: 0 auto;
    padding-block: 50px;
    background-color: rgb(242, 242, 242);
    .map {
        position: absolute;
        right: 0;
    }
    .coutries {
        margin-top: 50px;
        display: grid;
        position: absolute;
        z-index: 2;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        p {
            font-size: 24px;
            font-weight: 700;
            line-height: 28.8px;
            text-align: left;
            span {
                font-size: 24px;
                font-weight: 400;
                line-height: 33.6px;
                text-align: left;
            }
        }
    }
}
.six {
    max-width: 1920px;
    margin: 0 auto;
    padding-block: 50px;
    background-color: rgb(242, 242, 242);
    .flex_ads {
        margin-top: 50px;
        display: flex;
        gap: 30px;
        overflow-x: scroll;
        .broshure {
            background-color: white;
            width: 416px;
            height: 382px;
            padding: 40px 32px;
            border-radius: 10px;
            .grey {
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }
            img {
                margin: 40%;
            }
            h3 {
                margin-block: 20px 10px;
                font-size: 24px;
                font-weight: 700;
                line-height: 28.8px;
            }
            p {
                width: 296px;
                font-size: 16px;
                font-weight: 400;
                line-height: 22.4px;
            }
            .flex_9 {
                margin-top: 20px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                p {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 16.8px;
                    span {
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 19.2px;
                    }
                }
            }
        }
    }
}
